div.card {
    width: 300px;
    height: 100px;

    outline: 1px solid black;
}

.grid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clickable {
    cursor: pointer;
}
